//=============================================================================
/*===== ADMIN / MAIN ADD PRODUCTS===== */
//=============================================================================

.admin-main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.admin-main-main {
  width: 40%;
  padding: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #dedede;
}

.admin-main-aside {
  width: 60%;
  padding: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #f3f3f0;
}

.admin-main-fieldset {
  padding: 2rem;
  border-radius: 5px; 
}

.admin-main-fieldset > .admin-main-legend {
  color: #c67f43;
  margin: auto;
  padding: 0 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1; 
}

.admin-label {
  font-size: 1.1rem;
}

input[type='text'], input[type='number'], textarea {
  display: block;
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
}

#main-add-btn, .main-pub-btn {
  cursor: pointer;
  background-color: #7b876d;
  color: #fff;
  border: 0;
  display: block;
  font-size: 1rem;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.main-pub-btn:focus, .delete-btn:focus {
  outline-style: outset;
  background-color: #989e8b; 
}

.main-incoming-prod {
  display: flex;
  flex-direction: row;
}

#main-incoming-prod {
  list-style-type: none;
  // margin-bottom: 40px; 
  // display: flex;
  // flex-flow: column wrap;
  // justify-content: center;
 
}

#main-incoming-prod li {
  height: 10rem;
  background-color: #fff;
  color: #333;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
  // padding: 10px;
  // margin: 10px 0; 
}





.main-delete-btn {
  cursor: pointer;
  border: 0;
  font-size: 1rem;
  line-height: 20px;
  align-items: center;
}

.main-delete-btn {
  cursor: pointer;
  background-color: #cccccc;
  color: #fff;
  border: 0;
  font-size: 1.1rem;
  line-height: 20px;
  padding: 2px 5px;
  align-self: center;
}

//=============================================================================
/*===== ADMIN / MAIN w/ MEDIA QUERY ===== */
//=============================================================================

@media (max-width: 1020px) {
  .admin-main-container {
    flex-direction: column;
  }

  .admin-main-main {
    width: 100%;
    margin: auto;
  }

  .admin-main-aside {
    width: 100%;
    margin: auto;
  }
}
    
