// .products-list {
//   display: flex;
//   width: 100vw;
//   height: 90vh;
//   padding-top: 50px;
//   display: flex;
// }
/* CART */
// .cart {
//   height: 100%;
//   width: 25%;
//   position: relative;
// }

/* cart header */
// .cart-header {
//   display: flex;
//   justify-content: space-around;
//   padding: 10px 0;
// }
/* cart items */
// .cart-items {
//   max-height: calc(90vh - 247px);
//   overflow-y: auto;
//   overflow-x: hidden;
// }
/* cart item */
// .cart-item {
//   display: flex;
//   justify-content: space-around;
//   padding: 10px 0;
// }
// .cart-item div {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

/* item info */
// .cart-item .item-info {
//   flex: 1;
//   border-radius: 0 10px 10px 0;
//   padding: 10px;
// }
// .cart-item .item-info:hover {
//   background-color: red;
//   cursor: pointer;
// }
// .cart-item .item-info img {
//   width: 80px;
// }

/* unit price */
// .cart-item .unit-price {
//   flex: 1;
//   font-size: 18px;
// }

/* units */
// .cart-item .units {
//   flex: 1;
// }
// .cart-item .units .number {
//   margin: 0 10px;
//   font-size: 18px;
// }
// .cart-item .units .btn {
//   width: 20px;
//   height: 20px;
//   background-color: green;
//   border-radius: 50%;
//   font-weight: bold;
//   cursor: pointer;
// }

/* cart footer */
// .cart-footer {
//   width: 100%;
//   background-color: black;
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }
// .cart-footer div {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 15px 0;
//   font-size: 1.3rem;
// }
// .cart-footer .subtotal {
//   background-color: white;
// }
// .cart-footer .checkout {
//   background-color: green;
//   cursor: pointer;
// }
/* products container */
// .card {
//   position: relative;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   max-width: 300px;
//   margin-top: 5%;
//   margin-right: 2%;
//   margin-left: 2%;
//   text-align: center;
//   font-family: arial;
// }
// .prodprice {
//   color: #d49b7e;
//   font-size: 22px;
// }
// .card .add {
//   border: none;
//   outline: 0;
//   padding: 12px;
//   color: white;
//   background-color: #c67f43;
//   text-align: center;
//   cursor: pointer;
//   width: 100%;
//   font-size: 18px;
// } 
// .card button:hover {
//   opacity: 0.7;
// }


//=============================================================================
/*===== MIMMI: CART SECTION ABOVE CHECKOUT ===== */
//=============================================================================

.cart-container {
  width: 80%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 2px solid yellowgreen;
}

.cart-header {
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1; 
    padding: 10px;
}

//=============================================================================
/*===== MIMMI: CHECKOUT SECTION BENEATH CART ===== */
//=============================================================================

.checkout-container {
    width: 100%;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #fff;
}

.checkout-shipping, .checkout-billing {
    width: 60%;
    margin: auto;
    padding: 0.75rem 2rem 2rem 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.checkout-heading {
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1; 
    padding: 10px;
}

.checkout-label {
    display: block;
    width: 100%;
    font-size: 1.1rem;
}

.checkout-input[type='text'], .checkout-input[type='option'], #country {
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 1rem;
    margin: 10px 0 10px 0;
}

  input:focus {
    outline: none;
    box-shadow: 
    0 2px 2px rgba(0,0,0,0.1),
    0 4px 4px rgba(0,0,0,0.1),
    0 6px 6px rgba(0,0,0,0.1),
    0 8px 8px rgba(0,0,0,0.1);
}

.checkout-msg-btn {
    cursor: pointer;
    background-color: #c4c4c4;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    display: block;
    font-size: 1rem;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.12), 
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.checkout-msg-btn:hover {
    background-color: #dedede;
    color: black; 
}
  
  .checkout-msg-btn:focus {
    background-color: #c4c4c4; 
    color: white;
  }
