//=============================================================================
/*===== CHECKOUT / ORDER COMPLETED MESSAGE ===== */
//=============================================================================

// #checkout-section {
//     visibility: hidden;
// }

.checkout-heading {
    color: #fff;
}

.checkout-container {
    width: 80%;
    margin: auto;
    border: 2px solid orange;
}

.checkout-box {
    border: 2px solid rebeccapurple;
}