//=============================================================================
/*===== MIMMI: ORDER COMPLETED MESSAGE ===== */
//=============================================================================

.body-checkout-msg {
    height: 100%;
    margin-top: 15%;
    background-image: url(../assets/checkout_msg/hands.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.msg-container {
    width: 40%;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  
  .msg-fieldset {
    padding: 2rem;
    border-radius: 5px; 
}
  
  .msg-fieldset > .msg-legend {
    color: black;
    margin: auto;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1; 
}
  
  .msg-heading {
    color: black;
    font-size: 1.5rem;
    line-height: 1; 
    padding: 10px;
    align-self: center;
}

.msg {
    text-align: center;
}