.fav-item {
    width: 30%;
    margin-left: 15%;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 1px dotted #ccc;
    position: relative;
    top: 5rem;
}
.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 90%;
}
.fav-to-cart {
    border: none;
    outline: 0;
    color: white;
    background-color: #7b876d;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}
.item-info:hover {
    background-color: red;
    cursor: pointer;
    flex: 1;
    border-radius: 0 10px 10px 0;
    padding: 10px;
  }