svg{ //snöflingan från fontawesome i <head>
  visibility: hidden;
  top: -20px;
  position: absolute;
}

.body-index{
  background-color: white;
  padding: 0;
  box-sizing: border-box;
}

//========================
//======SNOWFLAKE=========
//========================
.fa-snowflake{
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
  color: white;
}

@keyframes fall{
  to{
      transform: translateY(3000px);
  }
}

//========================
//=======SNOW-EFFECT======
//========================
#makeItSnow{ //make it snow button
  position: absolute;
  margin-top: 34.5%;
  left: 6%;
  z-index: 20;
  border: none;
  height: 5%;
  width: 10%;
  background-color: #7b876d;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

#makeItSnow:hover{
    opacity: 0.8;
}

//========================
//======BILDSPEL==========
//========================
.bildspel{
  width: 90%;
  overflow: hidden;
  position: relative;
  top: 0;
  height: 600px;
  border: solid 1px #7b876d;
}

.spel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.knapp{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.fyrkant{
  width: 50px;
  height: 20px;
  border: 2px solid #7b876d;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.fyrkant:hover{
  background: #989e8b;
}

input[name=cirkel]{ /* gömmer den fula "gamla" menyn där uppe till vänster  */
  position: absolute;
  visibility: hidden;
}

.bilder{
  height: 100%;
  width: 500%;
  display: flex;
}

.bild{
  width: 20%;
  transition: 0.6s;
}

.bild img{
  width: 100%;
  height: 100%;
}

#cirkel1:checked ~ .ett{
  margin-left: 0;
}

#cirkel2:checked ~ .ett{
  margin-left: -20%;
}

#cirkel3:checked ~ .ett{
  margin-left: -40%;
}


#search::placeholder{
color: white;
}

#search{
width: 95%;
height: 9%;
padding-left: 3.5%;
font-size: 15px;
border: 0;
cursor: default;
}

#unsplashKnapp{
  float: right;
  height: 9%;
  width: 5%;
  font-size: 15px;
  cursor: pointer;
}

#result{
  height: 600px;
  width: 100%;
}

//========================
//=========CARDS==========
//========================
.cards{ //parent för varje enskilt card
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin-top: 650px; 
  margin-left: 10%;
  margin-right: 10%;
}
 
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
  font-family: arial;
  line-height: 20px;
  /* height: 450px; */
}

  h1{
  color: #989e8b;
}

  .card img{
  height: 300px; 
}

    p{
    color: #989e8b;
  }

  .card .add {
    border: none;
    outline: 0;
    color: white;
    background-color: #7b876d;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: center;
}

  .card button:hover {
    opacity: 0.7;
  }

  .prodprice {
    color: #989e8b;
    font-size: 22px;
    padding: 7px;
    margin-top: 1%;
  }

//========================
//====HEART-FUNCTION======
//========================
.card .heart:hover{
  background-color: darkred;
}
  .heart{
    margin-top: 5%;
    left: 6%;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 0 0 0 3px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.card .heart.fill-color{
    background-color: red;
}

.card .heart::before{// vänster sida
  position: absolute;
  content: "";
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}
.card .heart:after{ //höger sida
    position: absolute;
    content: "";
    right: -50%;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
    } 

  //=======================
  //========FOOTER=========
  //=======================
.footer_bottom{
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  background-color: #7b876d;
  margin-top: 5%;
  display: flex;
  height: 100px;
  padding: 10px;
}

.footer_rubrik{
  color: white;
}

.footer_text{
  color: white;
}

.footer_ett{
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}

.footer_mitten{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer_tva{
  position: relative;
  text-align: right;
  padding-top: 4px;
}

