body{
    background-color: black;
}

.fa-snowflake{
    color: red;
    color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}


.navbar {
    background-color: #7b876d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  
  .shop-title {
    font-size: 1.2rem;
    margin: .5rem; }
  
  .navbar-links {
    height: 100%; }
  
  .navbar-links ul {
    display: flex; }
  
  .navbar-links li {
    list-style: none; }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem; }
  
  .navbar-links li:hover {
    background-color: #989e8b; }
  
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.8rem;
    height: 1.3rem; }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px; }
  









.bildspel{
    width: 99%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.spel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.knapp{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.fyrkant{
    width: 50px;
    height: 10px;
    border: 2px solid #893f04;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.fyrkant:hover{
    background: #c67f43;
}

input[name="cirkel"]{ /* gömmer den fula "gamla" menyn där uppe till vänster  */
    position: absolute;
    visibility: hidden;
}

.bilder{
    height: 100%;
    width: 500%;
    display: flex;
}

.bild{
width: 20%;
transition: 0.6s;
}

.bild img{
    width: 100%;
    height: 100%;
}

#cirkel1:checked ~ .ett{
margin-left: 0;
}

#cirkel2:checked ~ .ett{
    margin-left: -20%;
}

#cirkel3:checked ~ .ett{
    margin-left: -40%;
}


h2{
    background-color: #d49b7e;
    font-size: 35px;
    color: #c67f43;
    text-shadow: 5px 10px 5px   #893f04;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35.5%;
}

section .ett{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

 section .tva {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

 }

 section .tre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

 }
 


/* mogges kod  */
.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-family: arial;
    height: 550px;
  }

  h1{
      color: #d49b7e;
  }
  .card img{
      height: 300px;
  }

  .price {
    color: #d49b7e;
    font-size: 22px;
  }

    p{
    color: #893f04;
  }

  .card button {
    border: none;
    outline: 0;
    color: white;
    background-color: #c67f43;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 12px;
    text-align: center;
}

  .card button:hover {
    opacity: 0.7;
  }


