@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff; 
}

@import "./admin_login.scss";
@import "./admin_main.scss";