/* products list */
.products-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:0 10%;
}
/* PRODUCTS */
.products {
  height: 100%;
  width: 75%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 3fr);
}
.products .item .item-container .add-to-wishlist {
  background-color: rgba(255, 21, 21, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.add-to-wishlist img {
  width: 32px;
  height: 32px;
  padding: 5px;
}