/* products list */
.products-container{
  display: flex;
  flex-wrap: wrap;
}
/* PRODUCTS */
.products {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 justify-content: space-around;
 margin-left: 10%;
 margin-right: 10%; 
}

  //=======================
  //========FOOTER=========
  //=======================
  .footer_bottom{
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background-color: #7b876d;
    margin-top: 5%;
    display: flex;
    height: 100px;
    padding: 10px;
  }
  
  .footer_rubrik{
    color: white;
  }
  
  .footer_text{
    color: white;
  }
  
  .footer_ett{
    display: flex;
    flex-direction: column;
    padding-top: 4px;
  }
  
  .footer_mitten{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .footer_tva{
    position: relative;
    text-align: right;
    padding-top: 4px;
  }
